doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="css/main.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,800,900%22")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    title Thanol
  body
    include mixins.jade
    nav
      .wrapper
        .logo
          img(src="images/logo.png")
        ul
          li.active: a(href="#") Home
          li: a(href="#") About Us
          li: a(href="#") Products
          li: a(href="#") Testimonials
          li: a(href="#") Pricing
          li: a(href="#") Contact

    header
      .wrapper
        .header website / branding / interactive
        .subheader We create beautiful, innovative and  effective handcrafted brands & website.
        .info 
          a(href="#") view our work
        .line

    .section-info
      .wrapper
        .section-info-logo
          img(src="images/logo-white.png")
        .section-info-text ethanol is a clean and simple website designed layout for multi-purpose options, you can use this free psd for your works.
      
    .what-love
      .wrapper
        .header WHAT WE DO WITH 
          span LOVE
        .subheader We design and build functional and beautiful websites
        .line
          img.logo-background(src="images/icon-background-small.png")
          img.logo-icon(src="images/icon-logo-small.png")
        .list
          +what-love-list-item-left("Brand Identity", "aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.", "fa fa-video-camera")
          +what-love-list-item("UI/UX Design", "aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.", "fa fa-lightbulb-o")
          +what-love-list-item-left("Graphic Design", "aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.", "fa fa-flag-checkered")
          +what-love-list-item("Mobile Application", "aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.", "fa fa-file-code-o")
          +what-love-list-item-left("Illustration", "aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.", "fa fa-picture-o")
          +what-love-list-item("Videography", "aliquam ipsum ante morbi sed ipsum mollis. Sollicitudin viverra, vel varius eget sit mollis.", "fa fa-video-camera")

    script(src="/js/libs.js")
